# Created by venv; see https://docs.python.org/3/library/venv.html
*

# Python
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境
Lib/
Scripts/
pyvenv.cfg

# 数据库
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# 日志
*.log

# 缓存
.cache/
.pytest_cache/

# 临时文件
*.tmp
*.bak
